/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html,
body {
    height: 100%;
}

.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 220px;
    padding-top: 50px;
    background: #F0F8FF;
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend .clearfix;
}

/*END:base*/
