/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html,
body {
    height: 100%;
    font-size: 100%;
}

.wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 3.2em;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
    background: url('https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/activities/star%20wars/2016/posters/the%20force%20awakens%20video%20game%20may%20the%20fourth/douglas_may4th_poster_webpreview_1488x838_may.jpg?l.r2=853401640');
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('http://alanpride.com/admin/images/BG_Radial_gradient.png');
    }
}

.clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

.content-container {
    width: 69em;
    position: absolute;
    top: 3em;
    right: 21.7%;
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend .clearfix;
}

.btn {
    font-family: 'Roboto-Bold';
    font-size: 1em;
    color: #c0c0c0;
    border-radius: 2em;
    padding: 0.8em 4em;
    display: inline-block;
    box-shadow: inset 0 0 0 2px #c0c0c0;
    transition: all 0.15s ease-in;
    &:hover {
        color: #000;
        background: color('active');
        box-shadow: 0px 3px 9px #000;
    }
    &:focus {
      outline: none;
      color: #000;
      background: color('active');
      box-shadow: 0px 3px 9px #000;
    }
    &.active {
        color: #000;
        background: color('active');
        box-shadow: 0px 3px 9px #000;
    }
  }

/*END:base*/
