// START: card
.card {
  width: 200px;
  height: 300px;
  margin: 0 10px 20px 10px;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: all 0.15s ease-in;
  box-shadow: none;
  &:focus {
    box-shadow: -9px 9px color('active');
    .card-title {
      bottom: 2.2em;
      left: 1em;
    }
    .card-title-hide {
      opacity: 1;
    }
  }
  &:hover {
    box-shadow: -9px 9px color('active');
    .card-title {
      bottom: 2.2em;
      left: 1em;
    }
    .card-title-hide {
      opacity: 1;
    }
  }
  &-body {
    background: url('https://i.pinimg.com/236x/63/9a/0a/639a0a64cb485e51af053e6403a00289--captain-america--steve-rogers.jpg');
    width: 100%;
    height: 100%;
    position: relative;
  }
  &-title {
    font-family: 'Roboto-Medium';
    font-size: 15px;
    text-transform: uppercase;
    color: color('active');
    position: absolute;
    bottom: 1em;
    left: 1em;
    transition: all 0.15s ease-in;
  }
  &-title-hide {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    color: color('primary');
    position: absolute;
    bottom: 1em;
    left: 1em;
    opacity: 0;
    transition: all 0.15s ease-in;
  }
}
// END: card
