// START: description
.description {
  padding: 20px;  
  &-text {
    &__title {
      font-family: 'Roboto-Bold';
      font-size: 3em;
      color: color('primary');
      margin-bottom: 0.6em;
      display: block;
    }
    &__subtitle {
      font-family: 'Roboto-Bold';
      text-transform: uppercase;
      font-size: 1em;
      color: color('active');
    }
    &__desc {
      font-family: 'Roboto-Regular';
      color: color('primary');
      font-size: 1em;
      line-height: 1.3;
      width: 50em;
      margin-bottom: 1em;
    }
    &__count {
      display: block;
      margin-bottom: 1em;
      .icon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background: url('../img/layers.png');
      }
      .descroption-title {
        color: color('primary');
        vertical-align: middle;
        font-family: 'Roboto-Regular';
        font-size: 0.8em;
        display: inline-block;
        opacity: 0.6;
      }
    }
  }
  &-action {
    padding: 20px 0;
    position: relative;
  }
}

.sort-card {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1.3em;
  &__title {
    font-family: 'Roboto-Bold';
    font-size: 1em;
    color: #c0c0c0;
    border-radius: 2em;
    padding: 0.8em 3em;
    display: inline-block;
    box-shadow: inset 0 0 0 2px #c0c0c0;
    transition: all 0.15s ease-in;
    position: relative;
    z-index: 2;
    &:hover {
      background: #242c33;
      color: color('primary');
      box-shadow: 0px 5px 9px #000;
    }
    &:focus {
      outline: none;
      background: #242c33;
      color: color('primary');
      box-shadow: 0px 5px 9px #000;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: middle;
      background: url('../img/down-arrow.png');
      margin-left: 0.3em;
    }
    &.active {
      background: #242c33;
      color: color('primary');
      box-shadow: 0px 5px 9px #000;
    }
  }
  &-list {
    position: absolute;
    width: 14em;
    z-index: 9;
    top: 2.9em;
    left: 50%;
    display: none;
    transform: translate(-50%, 0);
    z-index: 1;
    &.active {
      display: block;
      box-shadow: 0px 2px 20px 3px black;
    }
    &__item {
      font-family: 'Roboto-Bold';
      text-align: center;
      color: color('primary');
      display: block;
      width: 100%;
      padding: 1em;
      font-size: 1em;
      background: #242c33;
      transition: all 0.15s ease-in;
      border-top: 2px solid #000;
      &:hover {
        background: yellow;
        color: color('dark-grey');
        color: #000;
      }
      &:focus {
        background: yellow;
        color: #000;
        outline: none;
      }
    }
  }
}
// END: description