// START: nav
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 50.3em;
  height: 100%;
  z-index: 999;
}
.nav-hidden {
  width: 40.6em;
  height: 100%;
  display: none;
  background: url('../img/bg_fx_menu.png');
  left: 3.6em;
  top: 0;
  position: absolute;
  &__holder {
    position: absolute;
    top: 15em;
    left: 20em;
  }
  &-title {
    color: color('primary');
    font-family: 'Roboto-Bold';
    font-size: 2.2em;
    display: block;
    margin-bottom: 80px;
    padding-left: 15px;
  }
  &-list {
    &__item {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      span {
        border-radius: 20px;
        padding: 10px 15px;
        font-size: 20px;
        display: inline-block;
        font-family: 'Roboto-Bold';
        color: color('gray');
        transition: all 0.15s ease-in;
        &:hover {
          background: color('active');
          color: #000;
          font-family: 'Roboto-Bold';
          box-shadow: 2px 4px 16px -3px #000;
        }
        &:focus {
          outline: none;
          background: color('active');
          color: #000;
          font-family: 'Roboto-Bold';
          box-shadow: 2px 4px 16px -3px #000;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.nav {
  width: 148px;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  background: url('../img/bg_fx_innerpage.png');

  &-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    background: #242c33;
    top: 50%;
    left: 20px;
    z-index: 101;
    border-radius: 25px;
    box-shadow: 2px 4px 16px -3px #000;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #ff0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 17px;
      width: 11px;
      height: 2px;
      background: #fff;
      transform: rotate(-45deg);
    }
    &::after {
      content: '';
      position: absolute;
      top: 27px;
      left: 17px;
      width: 11px;
      height: 2px;
      background: #fff;
      transform: rotate(45deg);
    }
  }
}
// END: nav