.viewport-max-1024 {
  .catalogue-wrapper {
    @media screen and (max-width: 1024px) {
      left: 55%;
    }
  }
  .collection-wrapper {
    @media screen and (max-width: 1024px) {
      height: 16em;
    }
  }
  .collection {
    @media screen and (max-width: 1024px) {
      width: 17em;
      height: 12em;
    }
    &-holder {
      @media screen and (max-width: 1024px) {
        width: 17em;
        height: 12em;
      }
    }
    &-text {
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}

.viewport-max-1110 {}

.viewport-max-1280 {
  .content {
    &-row {
      @media screen and (max-width: 1280px) {
        height: 346px;
      }
    }
  }
}

.viewport-max-1320 {
  .catalogue-inner-title {
    span {
      @media screen and (max-width: 1320px) {
        font-size: 3em;
      }
    }
  }
  .collection-wrapper {
    @media screen and (max-width: 1320px) {
      height: 19em;
    }
  }
  .collection {
    @media screen and (max-width: 1320px) {
      width: 25em;
      height: 15em;
    }
    &-holder {
      @media screen and (max-width: 1320px) {
        width: 25em;
        height: 15em;
      }
    }
  }
}

.viewport-max-1366 {
  .card {
    @media screen and (max-width: 1366px) {
      width: 150px;
      height: 230px;
    }
    &-body {
      @media screen and (max-width: 1366px) {
        font-size: 12px;
      }
    }
  }
  .content {
    &-row {
      @media screen and (max-width: 1366px) {
        height: 394px;
      }
    }
  }
}

.viewport-max-1400 {
  .collection-wrapper {
    @media screen and (max-width: 1400px) {
      // add left: 70% if collection more than 2 items and nav is hidden
      left: 100%;
      height: 24em;
    }
  }
}

.viewport-max-1550 {
  .collection-wrapper {
    @media screen and (max-width: 1550px) {
      height: 19em;
    }
  }
  .collection {
    @media screen and (max-width: 1550px) {
      width: 27em;
      height: 17em;
    }
    &-holder {
      @media screen and (max-width: 1550px) {
        width: 27em;
        height: 17em;
      }
    }
  }
}

.viewport-max-1180 {}

.viewport-max-1800 {
  .collection-wrapper {
    @media screen and (max-width: 1800px) {
      height: 24em;
    }
  }
  .collection {
    @media screen and (max-width: 1800px) {
      width: 30em;
      height: 20em;
    }
    &-holder {
      @media screen and (max-width: 1800px) {
        width: 30em;
        height: 20em;
      }
    }
  }
}

.viewport-max-1920 {
  .content {
    &-row {
      @media screen and (max-width: 1920px) {
        height: 425px;
      }
    }
  }
}

.viewport-max-2048 {
  .content {
    &-row {
      @media screen and (max-width: 2048px) {
        height: 497px;
      }
    }
  }
}

.viewport-max-2200 {}

.viewport-min-2100 {
  .collection-wrapper {
    @media screen and (min-width: 2100px) {
      height: 34em;
    }
  }
  .collection {
    @media screen and (min-width: 2100px) {
      width: 45em;
      height: 30em;
    }
    &-holder {
      @media screen and (min-width: 2100px) {
        width: 45em;
        height: 30em;
      }
    }
  }
}

.viewport-max-2560 {
  .catalogue-inner-title {
    span {
      @media screen and (max-width: 2560px) {
        font-size: 5em;
      }
    }
  }
}

.viewport-min-2800 {
  .collection-wrapper {
    @media screen and (min-width: 2800px) {
      height: 41em;
    }
  }
  .collection-inner-title {
    @media screen and (min-width: 2800px) {
      font-size: 30px;
    }
  }
  .collection {
    @media screen and (min-width: 2800px) {
      width: 60em;
      height: 37em;
    }
    &-holder {
      @media screen and (min-width: 2800px) {
        width: 60em;
        height: 37em;
      }
    }
  }
}

.viewport-max-3200 {}

.viewport-max-3355 {}

.viewport-max-3840 {
  .catalogue-inner-title {
    span {
      @media screen and (max-width: 3840px) {
        font-size: 8em;
      }
    }
  }
  .content {
    &-row {
      @media screen and (max-width: 3840px) {
        height: 1095px;
      }
    }
  }
}

.viewport-min-3840 {
  .card {
    @media screen and (min-width: 3840px) {
      width: 520px;
      height: 840px;
      margin: 0 20px 35px 20px;
    }
    &:focus {
      .card-body {
        @media screen and (min-width: 3840px) {
          box-shadow: -20px 20px color('active');
        }
      }
    }
    &:hover {
      .card-body {
        @media screen and (min-width: 3840px) {
          box-shadow: -20px 20px color('active');
        }
      }
    }
    &-body {
      @media screen and (min-width: 3840px) {
        font-size: 40px;
      }
    }
  }
  .collection-wrapper {
    @media screen and (min-width: 3840px) {
      height: 60em;
    }
  }
  .collection {
    @media screen and (min-width: 3840px) {
      width: 80em;
      height: 55em;
    }
    &-holder {
      @media screen and (min-width: 3840px) {
        width: 80em;
        height: 55em;
      }
    }
    &-count {
      @media screen and (min-width: 3840px) {
        width: 120px;
        height: 90px;
      }
      &__icon {
        @media screen and (min-width: 3840px) {
          background: url('../img/two-squares-big.png');
          width: 32px;
          height: 32px;
        }
      }
      &__count {
        @media screen and (min-width: 3840px) {
          font-size: 2.5em;
        }
      }
    }
    &-text {
      @media screen and (min-width: 3840px) {
        font-size: 40px;
      }
    }
  }
}